{{#data}}
<tr>
    <td>{{fDate}}</td>
    <td>
        <strong><a href="#!web/detail/{{_id}}">{{#users}}{{login}}&nbsp;{{/users}}</a></strong>
    </td>
    <td class="action-column">
        {{#crPermission}}
           <a href="#!web/edit/{{_id}}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
           <button class="btn btn-danger cRemove" data-id="{{_id}}"><span class="glyphicon glyphicon-remove"></span></button>
        {{/crPermission}}
        {{^crPermission}}
        <button class="btn btn-danger cLeave" data-id="{{_id}}"><span class="glyphicon glyphicon-log-out"></span></button>
        {{/crPermission}}
    </td>
</tr>
{{/data}}
<br />
